.white {
  margin-top: 20px;
}

.white strong {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 5px;
}

.black strong {
  background-color: black;
  color: white;
  padding: 5px;
}
